@tailwind base;
@tailwind components;
@tailwind utilities;

.final-step {
  padding: 0 220px 0 220px;
  transition: 1s
}

@media only screen and (max-width: 600px) {
  body {
    /* background-color: lightblue; */
  }

  .final-step {
    padding: 1rem;
    transition: 1s
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
